@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.container-fluid {
  display: flex;
  flex-direction: column;
}
.header, .navbar, .about-body, .about-card, .dot, .line, .card, .projects-body, .container-fluid, .resume {
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navbar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0 15px;
  margin-left: -100px;
}

.navbar li {
  margin: 0;
  padding: 30px;
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;
  transition: ease-in;
}

.navbar a {
  height: 100%;
}

.navbar li:hover {
  background-color: hsl(0, 0%, 10%);
  border-radius: 3px;
}

.name-surname {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 30px;
}

.hr {
  width: 100%;
  background-color: hsl(0, 0%, 20%);
  height: 1px;
}

.seller {
  height: 91.5vh;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.name {
  font-size: 4rem;
  color: hsl(300, 100%, 45%);
  position: relative;
  font-family: 'Anton', sans-serif;
}

.job-desc {
  font-size: 1.2rem;
}

.right {
  position: relative;
  top: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.right button {
  cursor: pointer;
  margin: 10px;
  background-color: hsl(0, 0%, 20%);
  color: white;
  border: none;
  border-radius: 50%;
}

.frame {
  height: 200px;
  width: 200px;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: all 0.5s ease;
}

.slider .image {
  flex: 1 0 100%;
  width: 100%;
  margin-right: 50px;
  height: 100%;
  object-fit: cover;
}

.light-dark {
  padding-left: -20px;
  cursor: pointer;
  margin-right: 30px;
}

.change {
  text-decoration: none;
  color: white;
}

.sidebar {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  right: -14px;
  height: 100vh;
  width: 260px;
  z-index: 999;
  background-color: hsla(0, 0%, 30%, 0.549);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
}

.sidebar li {
  cursor: pointer;
  padding: 10px;
  list-style: none;
  width: 100%;
}

.sidebar li:hover {
  background-color: hsl(0, 0%, 10%);
}

.hidden {
  display: none;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  height: 91.5vh;   
}

.resume h1 {
  font-size: 80px;
}

.resumeA {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 20px;
  border: 1px solid hsl(0, 0%, 30%);
  padding: 5px;
  border-radius: 7px;
}
.resumeA:hover {
    background-color: hsl(0, 0%, 10%);
}
.projects-body {
  padding-top:20px;
  min-height:91.5vh;
  display:flex;
  flex-direction:column;
  align-items: center;

}
.projects-body h1 {
  font-size: 5em;
}
.searchbar {
  margin-top:20px;
  margin-bottom: 20px;
  width: 80%;
  height:45px;
  border-radius: 10px;
  background-color: transparent;
  color:white;
  font-size:20px;
  padding:10px;
  border:none;
  outline: 1px solid hsl(0, 0%, 30%);
}
.searchbar:focus {
  background-color: hsla(0, 0%, 10%, 0.6);
}
.projects-body .card-container {

  padding: 20px 20px 20px 7%;
  width: 90%;
  margin-top: 20px;
  display:flex;
 
  flex-wrap:wrap;
  gap:20px;
  align-items: center;
}


.card {
  padding:10px;
  border: 2px solid hsl(0, 0%, 20%);
  background-color: transparent;
  color:white;
  height:400px;
  width:320px;
  cursor:pointer;
  transition: transform 0.2s ease-in-out;
}
.card:hover {
  transform: scale(1.02);
}
.card-desc {
  overflow: scroll;
  height:200px;
  overflow:hidden;
  display:flex;

  align-items: center;
  margin-bottom:10px;
  border-top: 1px solid hsl(0, 0%, 20%);
  border-bottom: 1px solid hsl(0, 0%, 20%);
}
.card h3 {
  font-size: 1.5rem;
}
.card .card-bottom {
  display:flex;
  justify-content: space-between;
}
.card .card-bottom i {
  font-size: 30px;
}

.card .card-tech {
  display:flex;
  gap:20px;
  cursor:pointer;
}

.card .card-tech p {
  padding:5px;
  border-radius: 5px;
  transition: 0.2s ease-in;
}
.card a {
  text-decoration: none;
  color:white;

}
.card a:hover {
  transform: scale(1.1);

}
.React {
  color: #BAD5F5;
  border: 1px solid #BAD5F5;
 
}
.React::after {
  content : ".js"
}
.React:hover {
  background-color: hsl(213, 75%, 65%);
  color:black;
}
.CSS{
  color: hsl(240, 100%, 70%);
  border: 1px solid blue;
}
.CSS:hover {
  background-color: hsl(240, 100%, 70%);
  color:black;
}
.Javascript {
  color: hsl(60, 100%, 70%);
  border: 1px solid hsl(60, 100%, 70%);
}
.Javascript:hover {
  background-color: hsl(60, 100%, 60%);
  color:black;
}
.HTML {
  color: hsl(0, 100%, 40%);
  border: 1px solid  hsl(0, 100%, 40%);
}
.HTML:hover {
  background-color: hsl(0, 100%, 40%);
  color:black;
}
.filter-error {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 30%)
}
.filter-error h2 {
  font-size:1.2rem;
}

.about-body {
  display:flex;
  flex-direction: column;
  min-height:91.5vh;

  align-items: center;
  padding-top: 20px;
}
.about-body h1 {
  font-size: 5em;
}
.about-card {
  width: 46%;
  height:350px;
  border: 1px solid white;
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  padding: 20px;
  
  border-radius: 8px;
}
.about-card h4 {
  border-bottom: 1px solid hsl(0, 0%, 30%);
  padding: 5px;
}
.about-stack {
  display:flex;
  gap: 15px;
  flex-wrap: wrap;
}
.where {
  border-bottom: 1px solid hsl(0, 0%, 30%);
  padding-left: 10px;
}
.where i {
  color: red;
}
.when {
  padding-left: 10px;
  border-bottom: 1px solid hsl(0, 0%, 30%);
}
.about-stack p {
  border: 1px solid hsl(0, 0%, 20%);;
  border-radius: 10px;
  padding: 5px;
  background-color: hsl(0, 0%, 10%);
}
.row {
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: relative; /* This ensures the dot-line combo is positioned correctly */
}

.reverse {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
}

.dot {
  width: 6.4vw;
  height: 300px; /* Adjust to maintain a square shape */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Parent of absolute positioned line */
}

.dot i {
  z-index: 999;
  position: absolute; /* Ensure icon is centered */
  font-size: 1vw; /* Adjust size based on screen */
  color: hsl(0, 0%, 80%); /* Dot color */
  padding-top:20px;
  padding-bottom:20px;
  background-color: black;

}

.line {
  width: 1px;
  height: 116.5%; /* Make the line take up the full height of the dot */
  background-color: hsl(0, 0%, 30%);
  position: absolute; /* Center the line inside the dot */
  transform: translateX(-50%);
}


/* Dark Mode */
.dark {
  background-color: black;
  color: white;
}

.dark .header .name-surname {
  color: white;
}

.dark .navbar li {
  color: white;
}

.dark .hr {
  background-color: hsl(0, 0%, 20%);
}

.dark .right button {
  background-color: hsl(0, 0%, 20%);
  color: white;
}

.dark .change {
  text-decoration: none;
  color: white;
}

.dark .resume h1 {
  color: white;
}

.dark .resumeA {
  color: white;
}
.dark .projects-body {
  background-color: black;
  color:white;
  border: 1px solid hsl(0, 0%, 30%);
  
}
.dark .searchbar {
  background-color: transparent;
  color: white;

}

.dark .searchbar:focus {
  background-color: hsla(0, 0%, 10%, 0.6);
}
.dark .card {
  border: 2px solid hsl(0, 0%, 20%);
  background-color: transparent;
  color: white;
}
.dark .card-desc {
  border-top: 1px solid hsl(0, 0%, 20%);
  border-bottom: 1px solid hsl(0, 0%, 20%);
}

.dark .card-tech p {
  border: 1px solid hsl(0, 0%, 20%);
}
.dark .about-body {
  background-color: white;
}

/* Light Mode */
.light {
  background-color: hsl(0, 0%, 95%);
  color: black;
}
.light .dot i {
  background-color: hsl(0, 0%, 95%);
  color:black;
}
.light .about-card {
  border: 1px solid black;
}
.light .about-card .about-stack p {
  background-color: hsl(0, 0%, 95%);
}

.light .header .name-surname {
  color: black;
}

.light .navbar li {
  color: black;
}
.light .navbar li:hover {
    background-color: hsl(0, 0%, 70%);
}

.light .hr {
  background-color: hsl(0, 0%, 80%);
}

.light .right button {
  background-color: hsl(0, 0%, 80%);
  color: black;
}

.light .change {
  text-decoration: none;
  color: black;
}

.light .resume h1 {
  color: black;
}

.light .resumeA {
  color: black;
}
.light .resumeA:hover {
    background-color: hsl(0, 0%, 50%);
}

.light .searchbar {
  background-color: transparent;
  color: black;
  border: 1px solid hsl(0, 0%, 70%);
}

.light .searchbar:focus {
  background-color: hsla(0, 0%, 90%, 0.6);
}
.light .card {
  border: 2px solid hsl(0, 0%, 70%);
  background-color: white;
  color: black;
}
.light .card-desc {
  border-top: 1px solid hsl(0, 0%, 70%);
  border-bottom: 1px solid hsl(0, 0%, 70%);
}

.light .card-tech p {
  border: 1px solid hsl(0, 0%, 70%);
}
.light .React {
  color: hsl(213, 75%, 35%);
}
.React:hover {
  background-color: hsl(213, 75%, 65%);
  color:black;
}
@media (max-width:1639px) {
  .projects-body .card-container {
    justify-content: center;
    padding:20px 80px 20px 80px;
  }
 
}
@media (max-width : 1250px) {
  .about-card {
    width: 100%;

  }
  .about-container {
    display:flex;
    flex-direction: column;
    gap: 40px;
  }
  .dot {
    display:none;
  }
  
}
@media (max-width: 920px) {
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
  .navbar {
    justify-content: end;
  }
  .projects-body .card-container {
    justify-content: center;
    padding:20px;
  }
}



@media (max-width: 780px) {
  .seller {
    flex-direction: column;
  }
  .name {
    text-align: center;
  }
  .job-desc {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .seller {
    overflow: hidden;
    gap: 0;
  }
  .name {
    font-size: 2.5rem;
  }
  .job-desc {
    font-size: 1rem;
  }
}
